body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*
{ 
  font-family: 'Roboto Mono', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main_div{
  width:80vw;
  height:100vh;

  text-align: center;

  
}
.logout
{
  float:right;
  top: 10%;
  right: 15%;
  outline:none;
  background-color: dodgerblue;
  color:white;
  border: 0px;
  padding:7px;
  border-radius: 10px;
  position: absolute;
}

#navtext{
  position: absolute;
  right:45%;
}

.mainsignup{
  background-size:100% 100%;
  display: grid;
  place-items: center;
}
.select
{
  width:50%;
  margin-left: 30%;
}
.about{
  width:200px;
  height:500px;
  border: 1px solid gainsboro;
  padding:5px;
  margin-top: 50px;
  position: absolute;
  left:83%
}
.aboutbtn
{
  margin-top:70px;
  margin-left:10%;
  outline:none;
  background-color:rgb(rgb(17, 64, 136), green, rgb(140, 140, 161));
  color:black;
  border: 0px;
  padding:7px;
  border-radius: 10px;
}

#card{
  width:300px;
  height:300px;
  margin: 20px;
  margin-left: 25px;
  background: rgba(233, 236, 239, 0.3);
  color: black;
  
  border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;

  
}
#card_my{
  width:300px;
  height:300px;
  margin: 20px;
  margin-left: 25px;
  background: rgba(233, 236, 239, 0.3);
  color: black;
  
  border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
animation:glow 1s linear infinite;
}

@keyframes glow{
  0%{
    box-shadow: 0px;
  }

  50%{
    box-shadow: 0px 10px 20px white;
  }

  100%{
    box-shadow: 0px;
  }
}

#card_pic{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 15px;

}

#arc{
  position: relative;

}
#arc:before{
  content: '';
  width: 130px;
  height: 130px;
  border-top: 10px solid orange;
  transform: rotate(74deg);
  right: -13px;
  margin-top: 10px;
  border-radius: 50%;

  position: absolute; 
}

.navitem{
  margin-left: 40px;
}




#mypic{
  width: 35px;
  height: 35px;
  border-radius:50%;
  right: 30%;
  position: absolute;
  top: 10%;
}

.signup
{
  
  width:300px;
  height: 400px;
  text-align: center;
  outline:none;
  background-color:rgba(30, 144, 255, 0.5);
  color:white;
  border: 0px;
  padding:7px;
  border-radius: 10px;
  margin-top: -20%;
}

#heading{
  position: relative;
}
#heading::before{
  content:'';
  width: 5px;
  height: 81px;
  top: -160%;
  background-color: black;
 border-radius: 65% 0% 65% 0%;
  position: absolute;
  animation: move_right 5s linear infinite;
}
#heading::after{
  content:'';
  width: 5px;
  height: 81px;
  top: -160%;
  background-color: black;
  border-radius: 65% 0% 65% 0%;
  position: absolute;
  animation: move_left 5s linear infinite;
}

.container{
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}
@keyframes move_right{
  0%{
    left: 0%;
    background-color: black;  }
  20%{
    left: 50%;
    transform: rotate(45deg);
    background-color: #8df7fb;
  }

  90%{
    left: 50%;
  transform: rotate(45deg);
    background-color: #8df7fb;
    box-shadow: 0px 10px 10px  white;
  }
  

  100%{
    left: 0%;
    transform: rotate(180deg);
  }


}

@keyframes move_left{
  0%{
    transform: translateX(0px);
    background-color: black;  }
  20%{
    transform: translateX(-430px) rotate(-45deg);
    background-color: #8df7fb;
  }

  90%{
  transform: translateX(-430px) rotate(-45deg);
    background-color: #8df7fb;
    box-shadow: 0px 20px 10px  white;
  }
  

  100%{
    transform: translateX(0px);
    transform: rotate(180deg);
  }


}
input{
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.sign{
  outline:none;
  background-color:white;
  color:black;
  border: 0px;
  padding:7px;
  border-radius: 10px;

}
.login
{ 
  outline:none;
  background-color:dodgerblue;
  color:black;
  border: 0px;
  padding:7px;
  border-radius: 10px;
  margin-left: 10px;
}
.mainsignup{
  height:100vh;
  width:100vw;
  display: grid;
  place-items: center;
}
.text
{
  z-index: 2;
}

@media(max-width: 1179px){
  #heading{
    font-size: 25px;
  }
  #heading::before{
  height: 60px;
  
}
#heading::after{
 
   height: 60px;
  
}

  @keyframes move_left{
     0%{
    transform: translateX(0px);
    background-color: black;  }
  20%{
    transform: translateX(-270px) rotate(-45deg);
    background-color: #8df7fb;
  }

  90%{
  transform: translateX(-270px) rotate(-45deg);
    background-color: #8df7fb;
    box-shadow: 0px 20px 20px  white;
  }
  

  100%{
    transform: translateX(0px);
    transform: rotate(180deg);
  }


  }

}



@media(max-width :702px){
  #logout_media{
    display: none;
  }
  #heading{
    font-size: 20px;
  }
  @keyframes move_right{
  0%{
    left: 0%;
    background-color: black;  }
  20%{
    left: 50%;
    transform: rotate(45deg);
    background-color: #8df7fb;
  }

  90%{
    left: 50%;
  transform: rotate(45deg);
    background-color: #8df7fb;
    box-shadow: 0px 10px 20px  white;
  }
  

  100%{
    left: 0%;
    transform: rotate(180deg);
  }


}

@keyframes move_left{
  0%{
    transform: translateX(0px);
    background-color: black;  }
  20%{
    transform: translateX(-210px) rotate(-45deg);
    background-color: #8df7fb;
  }

  90%{
  transform: translateX(-210px) rotate(-45deg);
    background-color: #8df7fb;
    box-shadow: 0px 20px 20px  white;
  }
  

  100%{
    transform: translateX(0px);
    transform: rotate(180deg);
  }


}
#heading::before{
 
  top: -290%;
  
}
#heading::after{
 
  top: -290%;
  
}
}

@media(max-width :435px){
  #heading{
    font-size: 15px;
  }
  *{
    font-size: 13px;
  }
  @keyframes move_right{
  0%{
    left: 0%;
    background-color: black;  }
  20%{
    left: 50%;
    transform: rotate(45deg);
    background-color: #8df7fb;
  }

  90%{
    left: 50%;
  transform: rotate(45deg);
    background-color: #8df7fb;
    box-shadow: 0px 10px 20px  white;
  }
  

  100%{
    left: 0%;
    transform: rotate(180deg);
  }


}

@keyframes move_left{
  0%{
    transform: translateX(0px);
    background-color: black;  }
  20%{
    transform: translateX(-160px) rotate(-45deg);
    background-color: #8df7fb;
  }

  90%{
  transform: translateX(-160px) rotate(-45deg);
    background-color: #8df7fb;
    box-shadow: 0px 20px 20px  white;
  }
  

  100%{
    transform: translateX(0px);
    transform: rotate(180deg);
  }


}
#heading::before{
 
  top: -310%;
  height: 60px;
  
}
#heading::after{
 
  top: -310%;
   height: 60px;
  
}
}